body {
    margin: 0px;
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
}
nav {
    position: fixed;
    Top: 0;
    Left: 0;
    Right: 0;
    background-color: #be2c2c;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin: 0px;
    box-shadow: 0 2px 1px #777;
}
nav.link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    margin-right: 10px;
}
:hover nav.link {
    text-shadow: 0px 1px 5px #444;
}
nav :last-child {
    margin: 0px;
}
div.Links {
display: inline-block;
}
div.Links {
    width: 90%;
    text-align: right;
}
div.Home {
    width: 10%;
    text-shadow: 0px 1px 5px #444;
}